<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="List Books with VueJS"/>
    <meta name="author" content="Léo B. Castro"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="index, follow"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css"/>

    <title>List Books with VueJS</title>
</head>
<body>

    <div id="app" class="container">
        <section class="row">
            <div class="col-xs-12">
                <h1>List Books <small>with VueJS</small></h1>
            </div>
        </section>
        <section class="row">
            <div class="col-xs-12 well">
                <input type="search" class="form-control" placeholder="Procurar..." v-model="search"/>
            </div>
        </section>
        <section class="row">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                    <tr>
            	        <th>Id</th>
            	        <th>Title</th>
            	        <th>Price</th>
            	        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="book in books">
                        <td v-text="book.id"></td>
                        <td v-text="book.title"></td>
                        <td v-text="book.price"></td>
                        <td v-text="book.desc"></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
	
	<!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous"></script>
    <!-- VueJS and Core Application --> 
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.min.js"></script>
    <script src="core/app.js"></script>
</body>
</html>